body {
  margin: 0;
  background-color: #121213;
  font-family:monospace;
}

.header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #3a3a3c;  
  background-color: #121213;
  color: white;
  font-size: 42px;
  padding: 10px;
  margin-bottom: 40px;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message {
  color: white;
  font-size: 24px;
  margin-bottom: 30px;
  height: 28px;
}

.key-row {
  display: flex;
  gap: 5px;
  justify-content: center;
  margin-bottom: 5px;
}
.big-key {
  font-size: 10px;
  width: 12vw;
  max-width: 62.5px;
}

button {
  border: none;
  font-size: 18px;
  font-family:monospace;
  padding: 15px 1px;
  border-radius: 5px;
  background-color: #818384;
  color: white;
  width: 8vw;
  max-width: 40px;
}

button:hover {
  cursor: pointer;
  
}

.board {
  max-width: 320px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 30px;
}

.space {
  aspect-ratio: 1 / 1;
  color: white;
  font-size: 28px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.empty {
  border: 2px solid #3a3a3c;
  width: 60px;
}

.prompt {
  border: 2px solid #565758;
  width: 60px;
  animation: scale-on-fill 50ms ease-in;
}

@keyframes scale-on-fill {
  70% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.letter {
  border: none;
  width: 64px;
}

.red {
  background-color: #3a3a3c;
}

.yellow {
  background-color: #b59f3b;
}

.green {
  background-color: #6aaa64;
}